:root {
  --primaryColor: #1c3983;
  --primaryDarkColor: #041e42;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
}


.fullscreen-container{
  width: 100%;
  height: 90%;
}

*{
  top:0;
  margin : 0 ;
  padding : 0 ;
}



section {
  position : relative ;
  width : 100% ;
  height : 100vh ;
  background : #edf2f4;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

section .background-animation{
  position: relative;
  top:-100%;
  left: -10%;
  width: 100%;
  display: flex;
  padding: 15px 5px;
  white-space: nowrap;
  font-size: 20px;
  transform: rotate(-30deg);
  z-index: 1;
}

i{
  color:#023047 ;
  transition:1s; 
  padding: 0 5px;
  user-select: none;
  cursor: default;
  opacity: 0.2;
}

i:hover{
  transition:0s;
  color: #ffb703;
  text-shadow: 0 0 120px #ffb703;
}

section .background-animation div{
  animation: animate1 80s linear infinite;
  animation-delay: -80s;
}

section .background-animation div:nth-child(2){
  animation: animate2 80s linear infinite;
  animation-delay: -40s;
}

.template{
  position: relative;
}

.search-form {
  /* padding-bottom: 0; */
  opacity: 10;
   z-index: 10; 
}

.search-form {
  position: absolute;
  top: 5%;
  right: 25%;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--maxWidth);
  background: var(--mainWhite);
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);
}

.form-control label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: var(--primaryColor);
}

.form-control input {
  width: 70%;
  border: none;
  border-color: transparent;
  background: var(--mainBackground);
  border-radius: var(--mainBorderRadius);
  padding: 0.5rem;
  font-size: 1.2rem;
}

.submit{
  width:30%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ffb703;
  border-color: transparent;
  padding-right :2%;
  background: var( --primaryColor);
  border-radius: var(--mainBorderRadius);
  padding: 0.5rem;
  font-size: 1.2rem;
}